node_modules
out
dist
*.tgz
coverage
*.lcov

logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
*.tsbuildinfo
turbo/.turbo
.turbo

.idea
.vscode

.DS_Store
Thumbs.db

# Binary output
aropi-api
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
coverage.out
coverage.html

/tmp

tmp/
